#ignore everything
/*
#except for

!.config/
.config/*
!.config/autorandr/
!.config/i3/

!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf
!.config/ncmpcpp/
!.config/neofetch/
!.config/picom/
!.config/ranger/
!.config/zathura/

!.config/locale.conf


!.bash_logout
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.vimrc
!.xinitrc
!.Xresources
