#ignore everything except for:
/*

# $HOME
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.xinitrc

# ~/.local/bin
!.local/
.local/*
!.local/bin/

# ~/.local/share/applications
!.local/share/
.local/share/*
!.local/share/applications/

# ~/.config
!.config/
.config/*
!.config/aliasrc
!.config/envrc
!.config/inputrc
!.config/locale.conf
!.config/mimeapps.list
!.config/pikaur.conf
!.config/user-dirs.dirs
!.config/Xresources

# mpd
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf

# ncmpcpp
!.config/ncmpcpp/
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings

# neovim
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

# other
!.config/autorandr/
!.config/fontconfig/
!.config/i3/
!.config/mpv/
!.config/neofetch/
!.config/newsboat/
!.config/picom/
!.config/python/
!.config/ranger/
!.config/tmux/
!.config/zathura/
