#ignore everything
/*

#except for
!.config/
.config/*
!.config/autorandr/
!.config/i3/
!.config/neofetch/
!.config/picom/
!.config/python/
!.config/ranger/
!.config/zathura/

!.config/locale.conf


!.bash_logout
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.vimrc
!.xinitrc
!.Xresources
