! General
URxvt*scrollBar: false

! Font
URxvt*font: xft:Monospace:pixelsize=11
URxvt.letterSpace: -1

! Extensions
URxvt.perl-ext-common:  clipboard

URxvt.clipboard.autocopy: true
URxvt.keysym.Control-c: perl:clipboard:copy
URxvt.keysym.Control-v: perl:clipboard:paste

! URL Handling
URxvt*cutchars: `"()'*<>[]{|}

! Colors
*.foreground:   #a7a7a7
*.background:   #000000
*.cursorColor:  #a7a7a7

! black
*.color0:       #1e1e1e
*.color8:       #5f5a60

! purple
*.color1:       #b065ff
*.color9:       #b065ff

! green
*.color2:       #8f9d6a
*.color10:      #8f9d6a

! yellow
*.color3:       #f9ee98
*.color11:      #f9ee98

! blue
*.color4:       #7587a6
*.color12:      #7587a6

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #afc4db
*.color14:      #afc4db

! white
*.color7:       #a7a7a7
*.color15:      #ffffff
