[Desktop Entry]
Name=Turgen System
Exec=env WINEPREFIX="/home/bscibura/.local/share/wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/bscibura/.local/share/wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Turgen\\ System/Turgen\\ System.lnk
Type=Application
StartupNotify=true
Path=/home/bscibura/.local/share/wine/dosdevices/c:/Program Files/turgen
Icon=423D_ts.0
StartupWMClass=turgen.exe
